/*!
 * MyVem v0.0.1
 *
 * 
 */


/* --- COLORI --- *
@nero            : #1e1e1e
@grigio_scuro    : #333537
@grigio_medio    : #808285
@grigio_chiaro   : #fafbfc
@verde           : #00aef3
@giallo          : #a3cb1a
@oro             : #c59539
@arancio         : #ff6b0f
@rosso           : #c3033b
@rosa            : #ff0087
@viola           : #832c73
------------------------- */
@font-face {
  font-family: "Open Sans";
  src: url("../montserrat-font/Montserrat-Regular.eot");
  src: url("../montserrat-font/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../montserrat-font/Montserrat-Regular.woff") format("woff"), url("../montserrat-font/Montserrat-Regular.ttf") format("truetype"), url("../montserrat-font/Montserrat-Regular.svg#MontserratRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../montserrat-font/Montserrat-Semibold.eot");
  src: url("../montserrat-font/Montserrat-Semibold.eot?#iefix") format("embedded-opentype"), url("../montserrat-font/Montserrat-Semibold.woff") format("woff"), url("../montserrat-font/Montserrat-Semibold.ttf") format("truetype"), url("../montserrat-font/Montserrat-Semibold.svg#MontserratSemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../montserrat-font/Montserrat-Bold.eot");
  src: url("../montserrat-font/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../montserrat-font/Montserrat-Bold.woff") format("woff"), url("../montserrat-font/Montserrat-Bold.ttf") format("truetype"), url("../montserrat-font/Montserrat-Bold.svg#MontserratBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

body  
{
	color: #333537; 
	background-color:#ffffff;
	line-height:21px;
}
	
h3  
{
    font-size:16px;  
    font-weight:bold; 
    white-space: nowrap; 
    line-height:normal;
}

h1
{
    line-height:42px;
    font-size:42px; 
    font-weight:normal;
    color:#333537;
}

.alink_vem {
  color: #333537 !important;
  text-decoration: none;
  font-weight:bold;
}

form{
    margin:0;    
}

.intestazioneTabella { color:#fafbfc; background-color:#333537;}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a
{
        background-image: -moz-linear-gradient(top, #434547, #333537);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#434547), to(#333537));
        background-image: -webkit-linear-gradient(top, #434547, #333537);
        background-image: -o-linear-gradient(top, #434547, #333537);
        background-image: linear-gradient(to bottom, #434547, #333537);            
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff434547', endColorstr='#ff333537', GradientType=0);
        cursor:pointer;
} 

.menutop
{
	font-family:Open Sans!important;
}
      
/* INIZIO STILI JQGRID */
	
.ui-jqgrid .ui-jqgrid-htable th div {
    height:auto;
    overflow:hidden;
    padding-right:4px;
    padding-top:2px;
    position:relative;
    vertical-align:text-top;
    white-space:normal !important;
    color:#fafbfc;
    background:#333537;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', 'Verdana';
    font-size:14px;
    font-weight:bold;
}   

.ui-jqgrid .ui-jqgrid-view 
{
    font-size:14px;    
}

.ui-jqgrid-labels .ui-state-default{ 
    background: #333537;
}

.ui-jqgrid {
    font-size: 14px;
}
    
.ui-widget
{
    font-family: 'Trebuchet MS';
    font-size: 14px;
}

.ui-pg-input
{
    padding-top:0px !important;
    padding-bottom:0px !important;
    width:20px !important;
    line-height:13px !important;
}

.ui-pg-selbox
{
    padding-top:0px !important;
    width:50px !important;
    padding-bottom:0px !important;
    padding-right:0px !important;
}
    
.jqgrow td input{
    border:0px;
}	

/* FINE STILI JQGRID */


/* INIZIO STILI PAGINA ALLARMI */

.table tbody tr.success td {
  background-color: #EFEFF3;
}
.table tbody tr.error td {
  background-color: #EFEFF3;
}
.table tbody tr.warning td {
  background-color: #EFEFF3;
}
.table-hover tbody tr.success:hover td {
  background-color: #FFFFFF;
}
.table-hover tbody tr.error:hover td {
  background-color: #FFFFFF;
}
.table-hover tbody tr.warning:hover td {
  background-color: #FFFFFF;
}

a.link-warning {
  color: #c09853 !important;
}
a.link-warning :hover {
  color: #a47e3c !important;
}
a.link-error {
  color: #b94a48 !important;
}
a.link-error :hover {
  color: #b94a48 !important;
}
a.link-success {
  color: #468847 !important;
}
a.link-success :hover {
  color: #356635 !important;
}

.ath_icon{
width:20px !important;

padding-right:10px !important;
}
.ath_date{
width:50px !important;

padding-right:10px !important;
}
.ath_dev{

}
.ath_amess{

}
.ath_sla{

}
.ath_ack{

}

.atd_icon{
vertical-align: middle !important;
}
.atd_date{
	font-size: 14px;
	vertical-align: middle !important;
	height:21px;
	text-align:right !important;
}
.atd_dev{
	font-size: 16px;
	vertical-align: middle !important;
	height:42px;
}
.atd_amess{
	font-size: 14px;
	vertical-align: middle !important;
	height:42px;
}
.atd_sla{
	font-size: 14px;
	vertical-align: middle !important;
	height:42px;
}

.atd_ack{
	font-size: 14px;
	vertical-align: middle !important;
	height:42px;
}

.atd_ack a
{
    cursor:pointer;
}

a.menutop {
    color: #ffffff;
    padding: 13px 15px 13px;
    text-decoration: none;
    line-height: 26px;
}
a.menutop:hover {
    background: #fff;
    color: #0091ff!important;
    zoom: 1;
}

/* FINE STILI PAGINA ALLARMI */

/*kendo mod begin*/
.k-shadow{ font-size: 14px !important;}

li a.k-link
{
    text-decoration: none !important;
    color: #e3e3e3 !important;
}
        
.k-content
{
    background-color:transparent !important;
}

.k-header
{
    font-weight:bold;
    color:#fafbfc;
    background-color: #333537;
}
.k-header.k-shadow{
margin-bottom:0px;
}


/*kendo end*/

.chartswrapper
{
    margin-left:-10px;
    float:left;
}

.gridswrapper
{ 
    float:left !important;
}

.gridTitle
{ 
    font-weight:bold;
    font-size:16px;
}

/*bootstrap2.3 - begin*/
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.container-fluid:after {
  clear: both;
}
/*bootstrap2.3 - end*/


/* Stile tabella statica riassuntiva */

td.cellalabel
{
    font-weight:bold;
}
        
td.cellavalore
{
    text-align:right;
    width :90px;
}

td.cellavalorevpn
{
    text-align:right;
    width :120px;
}


td.cellacentrata
{
        text-align:center;
}
        
/* fine Stile tabella statica riassuntiva */     
